<div class="welcome">
    <h1>TestApp</h1>
    <p class="col-xs-12 col-sm-6"><b>Name:</b> {{environmentService.application.name}}</p>
    <p class="col-xs-12 col-sm-6"><b>Version:</b> {{environmentService.application.version}}</p>
    <p class="col-xs-12 col-sm-6"><b>Author:</b> {{environmentService.application.author}}</p>
    <p class="col-xs-12 col-sm-6"><b>License:</b> {{environmentService.application.license}}</p>
    <p class="col-xs-12"><b>Description:</b> {{environmentService.application.description}}</p>
</div>
<router-outlet></router-outlet>